@media screen and (max-width:900px) {

body{
margin: 0;
padding: 0;
}
.wrapper{
  background-position-y: bottom;
  height: 50%;
  width: 100%;
}
.blend{
  margin: 0rem;
  width: 95%;
  padding: 0;

}
.logo{
  width: 4rem;
}
.logoName{
  margin-left: .5rem;
  width: 10rem;

}
nav, .pg-nav{
  width: 97%;
  color: white;
}
.pg-nav{
  width: 92%;
}
.menu{
  display: none;
  width: fit-content;
  padding: auto;
  background-color: rgb(0, 140, 255);
position: absolute;
right: 2rem;
top: 3rem;
z-index: 6;
}
.menu div{
  margin:1rem;
  text-align: center;
}
.more{
  display: block;
}
.icon{
  display: none;
}
.txt{
  font-size: 35px;
  font-weight: 400;
}
.parent-col{
  flex-direction: column;
  width: 68%;
  margin-top: 1rem;
  padding-top: .5rem;
}
.featured{
  font-size: 15px;
}
.col{
  width: 90%;
  margin-top: 2rem;
}
.col img{
  width: 100%;
}
.set{
  flex-direction: column;
}
.info{
  width: 90%;
  margin-bottom: 2rem;
}
.gallery{
  width: fit-content;
grid-template-columns: auto;
height: fit-content;
row-gap: 1rem;
align-content: center;
}
.gallery img{
width: 100%;
height: 95%;
}
footer{
  padding: 1rem;
  grid-template-columns: auto auto;
  row-gap: 2rem;
  column-gap: .5rem;
}
.footAbout {
  width: 5rem;
}
footer span{
  font-size: 13px;
}
.section{
  grid-template-columns: auto;
  row-gap: 0;
  column-gap: 0;
}
.back{
  display: block;
}
.history{
  margin: 0 0 01rem 0 ;
  padding: 1rem 0;
}
.card{
  grid-template-columns: auto auto;
  width: 91%;
  margin: 2rem 0;
}
.note{
  width: 7rem;
  height: 7rem;
}
.note div{
  font-size: 15px;
}
}
