
  @import url('https://fonts.googleapis.com/css2?family=Lobster&family=Rakkas&display=swap');


body{
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
  text-decoration: none;
  color: currentColor;
}
.more{
  display: none;
}
.flex{
  display: flex;
}
.wrapper{
  width: 100%;
  height: 85vh;
  background: url(./pics/mosque.svg) ;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 3rem;
background-blend-mode:overlay; 
color: white;
background-color: rgba(4, 159, 231, 0.986);
}

.blend{
  width: 90%;
  margin: auto;

}
nav{
  width: 98%;
  justify-content: space-between;
  padding: .5rem;
  margin-bottom: 2rem;
  align-items: center;
}
.pg-nav{
  width: 85%;
  margin: auto;
}
.menu{
width: 28rem;
justify-content: space-between;
font-size: 13px;
font-weight: 500;
display: flex;
text-transform: uppercase;
}
.menu div{
cursor: pointer;

padding: .5rem;
border-radius: 5px;
font-weight: 500;
margin: 0;
}

.menu div:hover{
  background-color: rgba(255, 255, 255, 0.144);
  color: red;
}
.portal{
  padding: .5rem 1rem;
  border-radius: 15px;
  display: flex;
  height: .7rem;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(12, 175, 250, 0.986); */
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 1px 1px 17px -7px rgb(17, 17, 17);
}
.portal img{
  width: 20px;
  height: 15px;
}

.portal:hover{
  background-color: rgb(109, 22, 22);
}
.logodiv{
  align-items: center;
  display: flex;
}
.logo{
  width: 7rem;
  border-radius: 10px;
  /* box-shadow: 1px 1px 17px -3px rgb(17, 17, 17); */

}
.logoName{
  width: 20rem;
}
.logo-arb{
  font-family: 'Rakkas';
  font-size: 30px;
}
.logo-eng{
  font-family: 'lobster';
  font-size: 20px;
}

.sec-1{
  width: 100%;
}
.container{
  width: 93%;
  height: 50vh;
margin: 2rem auto;
  padding: 1rem;
  align-content: center;
  text-align: center;
  border-radius: 15px;
}
.txt{
  font-weight: 300;
  width: 90%;
  font-size: 3.5rem;
  margin: 1rem auto;
  /* text-shadow: 3px 2px 2px black; */

}
.txt-arb{
  font-size: 4rem;
  color: wheat;
  text-shadow: 3px 3px 3px black;
  margin-bottom: .5rem;
  font-family: 'Rakkas';
}
.container span{
  font-weight: 500;
  font-style: italic;
  color:  white;
  padding: .5rem;
  display: block;
  justify-content: space-between;
  border-radius: 10px;
}
.btn{
  margin: auto;
  padding: .7rem 2rem;
  /* border: 1px solid white; */
  margin-top: 2rem;
  box-shadow: 1px 1px 17px -3px rgb(53, 52, 52);
 border-radius: 20px;
 background-color: rgb(252, 127, 105);
 width: fit-content;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
}
.icon{
  display: block;
}
.sec-2{
  margin-top: 1rem;

}

.programe{
  width: fit-content;
  font-size: 12px;
  font-weight: 300;
  color: gray;
  margin: 1rem auto;
}
.featured{
  width: fit-content;
  font-size: 30px;
  font-weight: 300;
  margin: 1rem auto;
  margin-top: 1rem;
}
.parent-col{
  width: 80%;
  padding: 2rem 8.5rem;
  margin: 0 auto;
  justify-content: space-between;
}
.col{
  width: 22%;
  height: 25rem;
  padding: 1rem;
  display: block;
  border-radius: 10px;
  background-color: rgb(248, 243, 236);
  box-shadow: 1px 1px 17px -10px rgb(17, 17, 17);

}
.col img{
  width: 15rem;
  height: 10rem;
  margin-bottom: 1rem;
}
.level{
  text-transform: uppercase;
  width:fit-content;
  margin: auto;
  font-size: 17px;
  text-shadow: 3px 2px 2px rgb(235, 194, 194);
  font-weight: 600;
  color: brown;
  text-align: center;
  text-justify: center;
}
li{
  font-size: 13px;
  margin: 1rem 0;
  font-weight: 500;
}
.apply, .read{
  width: fit-content;
  padding: .5rem 1.5rem;
  cursor: pointer;
  background-color: tomato;
  border-radius: 10px;
  box-shadow: 1px 1px 15px -5px rgb(17, 17, 17);
  font-size: 13px;
  color: white;
  margin: auto;
  font-weight: 800;
}
.back{
  margin-bottom: 2rem;
  display: none;
}
.sec-3 .flex{
 width: 80%;
 padding: 1rem;
 margin: auto;
 justify-content: space-between;
 align-items: center;
}
.info{
  width: 35%;
  
}
.lorem{
  border-left: 2px solid  lightgray;
  color: rgb(112, 109, 109);
  padding-left: 2rem;
  text-align: justify;
  font-weight: 400;
  margin-bottom: 1rem;
}
.read{
  background-color: tomato;
  margin: 0 2rem;
}
.read:hover, .apply:hover{
  background-color: rgb(185, 64, 42);

}
.gallery{
  display: grid;
  width:54%;
  height:fit-content;
  grid-template-columns: auto auto;
column-gap: .5rem;
background-color: rgba(209, 233, 245, 0.986);
padding: .5rem;
border-radius: 10px;
box-shadow: 1px 1px 17px -3px rgb(17, 17, 17);

}
.gallery img{
  width: 20rem;
  height: 95%;
}
footer
{
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 2rem 3rem;
  background-color: rgba(12, 175, 250, 0.986);
  text-align: center;

}
footer span{
  font-weight: 400;
  cursor: pointer;
}
.footAbout{
  display: grid;
  grid-template-columns: auto;
  row-gap: 1rem;
  color: white;
}
.footHead{
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  color: rgb(243, 237, 237);
  text-shadow: 3px 2px 2px rgb(68, 67, 67);
}
.copy{
  background-color: rgba(28, 77, 168, 0.822);
  color: rgb(243, 237, 237);
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 14px;
  font-weight: 300;
  padding: .5rem 0; 
}
.copy img{
  width: 1rem;
}


/* gallery-page */

.section{
  display: grid;
  width: 98;
  padding: 2rem 1rem ;
  margin: 0 0 1rem 0;
  background-color: rgba(117, 189, 247, 0.322);
  grid-template-columns: auto auto;
  row-gap: 2rem;
}
.section div{
  margin: 0;
  height: fit-content;
}
.section img{
  width: 98%;
  box-shadow: 1px 1px 17px -3px rgb(17, 17, 17);
  margin-bottom: 1rem;
  height: 15%;
}

/* about page */

.history{
  width: 100%;
  margin: 4rem auto;
 
  
  background: url(./pics/whitelogo.jpeg) ;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* background-position-x: 15rem; */
background-blend-mode:lighten; 
background-color: rgba(209, 233, 245, 0.986);
padding: 5rem 0;
}
.head{
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 700;
  color: red;
  margin: 1rem auto;
  width: fit-content;
  text-shadow: 3px 2px 2px rgb(161, 156, 156);

}
.detail{
  text-align: justify;
  width: 60%;
  margin: auto;
}


/* acedemics */
.card{
  width: 70%;
  margin: 2rem auto;
  height: 37rem;
  align-items: center;
  background-color: rgba(209, 233, 245, 0.986);
  display: grid;
  justify-items: center;
  padding:  2rem 1rem;
  row-gap: 3rem;
  color: white;
  grid-template-columns: auto auto auto;
}
.note{
  width: 15rem;
  height: 15rem;
  padding: 1rem;
  box-shadow: 1px 1px 17px -3px rgb(17, 17, 17);
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.note div{
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  
}
.red{
  background-color: red;
}
.green{
  background-color: green;
}
.blue{
  background-color: blue;
}
.yellow{
  background-color: yellow;
  color: red;
}
.black{
  background-color: black;
  color: white;
}
.white{
  color: black;
  background-color: #fff;
}
.note img{
  width: 3rem;
  margin-bottom: 1rem;
}


/* notic */
.board{
  border: 15px solid saddlebrown;
  color: white;
}